<div class="container__small-card">
    <div class="container__small-card-content">
        <div class="small-card__photo">
            <img 
            src="https://uploads-ssl.webflow.com/63ce503ba9b7eb367b63c343/63efb58c52625ef84dd5425d_bunarticleheader.jpg" 
            alt=""
            >
        </div>
        <div class="small-card__title">
            <h1><a href="#">Saiu a nova versao do angular</a></h1>
        </div>
    </div>
    <div class="container__small-card__separator">
        <hr>
    </div>
</div>



